html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background: #0b0b0c;
}

*{
    color: white;
    cursor: none;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.centered{
    position: relative;
    top: 38%;
    width: 100%;
    text-align: center;
    z-index: 100;
    height: 50vh;
}
.centered .name-letter{
    font-size: 8vh;
}
.centered h3{
    font-size: 3vh;
}
.page-header .centered .name-letter{
    font-size: 4.5vw;
}

.centered.about, #contact-page .centered{
    width: 60vh; 
    margin-left: calc(50% - 30vh); 
}
.centered.about{
    top: 5%;
}

.to-projects-button{
    cursor: pointer;
    display: inline-block;
    color: inherit;
}

.profile-picture{
    height: 30vh; 
    width: auto; 
    border-radius: 30vh;
}

.down-arrow, .up-arrow{
    position: absolute;
    font-size: 4vh;
    z-index: 100;
    cursor: pointer;
    left: -6vw;
}

.down-arrow{
    bottom: 2vh;
}

.up-arrow{
    top: 5vh;
}

.nav-menu{
    position: fixed;
    z-index: 1000;
}
.nav{
    display: inline-block;
    margin: 0 .1vw;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 2.3vh;
}
a.nav:hover, i:hover{
    color: #2699de;
    cursor: pointer;
}
a.nav{
    text-decoration: none;
}
a.nav.active{
    font-weight: 800;
    color: #2699de;
}

canvas{
    position: fixed;
    z-index: -100;
}
.name-letter{
    display: inline-block;
    transition: all .2s ease-in-out;
    transform: scale(1, 1);
    height: 40px;
}
.name-letter:hover{
    color: #2699de;
    transform: scale(1, .9);
}

.page{
    width: 80vw;
    margin-left: 10vw;
    height: 94vh;
    display: flex;
    padding-top: 4vh;
    position: relative;
}
.page-header{
    flex: 25%;
}
.page-header h1{
    text-align: left;
    margin: 0;
}
.page-header h3{
    text-align: left;
    margin: 0;
    font-size: 3vmin;
    margin-right: 2vw;
}
.page-body{
    flex: 75%;
    position: relative;
}
.about-block{
    padding: 2vh 1vw;
    border-left: #2699de solid .2vw;
    margin-bottom: 3vh;
    cursor: pointer;
    position: relative;
    z-index: 100;
}
.about-block-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3vh;
    cursor: pointer;
    margin-bottom: 1vh;
}
.about-info-cont-body{
    display: none;
}
.about-info-container{
    background: #2699de;
    transition: all .1s ease-in-out;
}
.about-info-container:hover{
    background: white;
}
.about-info-container:hover .about-info-cont-body{
    display: block;
}
.about-info-container:hover .about-info-cont-fac{
    display: none;
}

.about-content{
    display: grid;
    overflow-y: scroll;
    height: 62vh;
}
#about-coder{
    grid-template-columns: repeat(3, 1fr);
}
.about-content::-webkit-scrollbar {
    display: none;
}

.about-info-tile{
    display: inline-block;
    padding: 1vh;
    position: relative;
    background: linear-gradient(to left, #2699de 50%, white 50%);
    background-size: 200% 100%;
    transition: all .2s ease;
    background-position: right bottom;
    margin: .4vh;
    vertical-align: top;
}
.about-info-tile * {
    cursor: default;
}
.front img{
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: 101;
    text-align: center;
    opacity: 0.2;
    display: block;
}
.about-info-tile .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}
.about-info-tile:hover .front{
    display: none;
}
.about-info-tile .back{
    visibility: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.about-info-tile:hover .back{
    visibility: visible;
}
.about-info-tile:hover{
    background-position: left bottom;
}
.about-info-tile .front-title{
    margin-left: .7vw;
    border-left: solid white .2vw;
    padding: 0 0 0 .7vw;
    z-index: 102;
}
.front-title h3{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2.7vh;
    margin: 0;
    vertical-align: middle;
}
.front-title h4{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    margin: 0; 
    vertical-align: middle;
}
.about-info-tile h2{
    margin: 0;
    font-family: Tahoma, sans-serif; 
    font-weight: 400;
}
.about-info-tile .back h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 4vh;
    margin: 0;
    color: #2699de;
}
.about-info-tile p{
    font-family: 'Georgia', serif;
    color: #2699de;
}
.about-info-tile a{
    display: inline-block;
    margin: .5vh;
    padding: .5vh;
    background: #2699de;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.about-info-tile td{
    color: #2699de;
    font-family: 'Roboto', sans-serif;
    padding: 0 2vw 0 0;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
h3, h3 a{
    font-family: 'Georgia', serif;
    font-weight: 400;
    color: #2699de;
}
p{
    font-family: 'Roboto', serif;
    font-size: 2vh;
    color: white;
}
#card-container{
    overflow-y: scroll;
    height: 80vh;
}
.card{
    display: inline-block;
    width: 250px;
    background: black;
    height: 215px;
    padding: 8px;
    position: relative;
    vertical-align: top;
}
.card-image{
    height: 170px;
    cursor: inherit;
}
.card-header{
    text-align: center;
    position: relative;
    z-index: 100;
    color: #2699de;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    width: 250px;
    justify-content: center;
}
.card-header a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    cursor: inherit;
}
.card-header:hover{
    color: #41a4df;
}
.card-button{
    z-index: 100;
    position: absolute;
    border: none;
    cursor: pointer;
    text-align: center;
    background: #2699de;
    color: white;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    bottom: 4px;
}
.card-button:hover{
    background: #41a4df;
}
.card-back{
    display: none;
}
.card-description{
    margin-top: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.socials{
    display: none;
}
.nav-menu.socials{
    display: block;
}

@media (max-width:600px){
    /* For mobile phones: */
    .up-arrow, .down-arrow{
        display: none;
    }
    html{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .centered.about, #contact-page .centered{
        margin-left: 10%;
        width: 80%;
        height: fit-content;
    }
    .page{
        width: 90vw;
        margin-left: 5vw;
        height: fit-content;
        display: block;
    }
    .page-header{
        flex: 100%;
    }
    .centered{
        height: fit-content;
        top: 0;
    }
    .socials{
        display: inline;
    }
    .nav-menu.socials{
        display: none;
    }
    .socials-location{
        display: none;
    }
    .about-content{
        display: block !important;
        height: fit-content;
        overflow: hidden;
    }
    .about-info-tile{
        width: 100%;
    }
    .front img{
        min-width: auto;
        height: auto;
        width: 100%;
        min-height: 100%;
    }
    #home-page, #contact-page{
        padding: 35vh 0;
    }
    #about-page{
        margin-bottom: 10vh;
    }
    .nav-menu{
        width: 100%;
        text-align: center;
        background: #0b0b0c;
        top: 0;
        padding: 1vh 0 .5vh 0;
    }
    a.nav:hover, i:hover{
        color: auto;
    }
    .page-header .centered .name-letter{
        font-size: 8vh;
    }
    .page-header .centered h1{
        text-align: center;
    }
    .page-header h3{
        font-size: 3vh;
        text-align: center;
    }
}