html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background: #0b0b0c;
}

*{
    color: white;
    cursor: none;
}

.centered{
    position: relative;
    top: 41%;
    width: 100%;
    text-align: center;
}

.nav-menu{
    position: fixed;
    z-index: 50;
}
.nav{
    display: inline-block;
    margin: 0 .1vw;
    cursor: pointer;
    font-family: sans-serif;
}
a.nav:hover, i:hover{
    color: #61c4ff;
    cursor: pointer;
}
a.nav{
    text-decoration: none;
}
a.nav.active{
    font-weight: 800;
    color: #61c4ff;
}

canvas{
    position: fixed;
    z-index: 5;
}
.name-letter{
    display: inline-block;
    font-size: 40px;
    transition: all .2s ease-in-out;
    transform: scale(1, 1);
    height: 40px;
}
.name-letter:hover{
    color: #61c4ff;
    transform: scale(1, .9);
}

.page{
    width: 60vw;
    margin-left: 20vw;
    height: 94vh;
    display: block;
    padding-top: 4vh;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
h3{
    font-family: 'Georgia', serif;
    font-weight: 400;
    color: #61c4ff;
}
#card-container{
    overflow-y: scroll;
    height: 80vh;
}
.card{
    display: inline-block;
    width: 250px;
    background: black;
    height: 215px;
    padding: 8px;
    position: relative;
    vertical-align: top;
}
.card-image{
    height: 170px;
    cursor: inherit;
}
.card-header{
    text-align: center;
    position: relative;
    z-index: 100;
    color: #61c4ff;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    width: 250px;
    justify-content: center;
}
.card-header a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    cursor: inherit;
}
.card-header:hover{
    color: #41a4df;
}
.card-button{
    z-index: 100;
    position: absolute;
    border: none;
    cursor: pointer;
    text-align: center;
    background: #61c4ff;
    color: white;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    bottom: 4px;
}
.card-button:hover{
    background: #41a4df;
}
.card-back{
    display: none;
}
.card-description{
    margin-top: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}